.nav {
    .toggle {
        position: fixed;
        z-index: 999;
        top: 1rem;
        right: 1rem;
        width: 5rem;
        height: 5rem;
        border: 0;
        background-color: #fff0;

        .hamburger {
            position: fixed;
            top: 2.5rem;
            right: 4.75rem;
            div {
                position: absolute;
                width: 2.5rem;
                height: 0.25rem;
                transition-timing-function: ease;
                transition-duration: 0.3s;

                border-radius: 0.125rem;
                background-color: $neutralLight;
            }

            :nth-child(1) {
                display: block;
                transform-origin: top left;
                transition-property: transform, background-color;
            }

            :nth-child(2) {
                display: block;
                top: 0.75rem;
                transform-origin: left;
                transition-property: opacity, transform, background-color;
            }
            :nth-child(3) {
                display: block;
                top: 1.5rem;
                transform-origin: bottom left;
                transition-property: transform, background-color;
            }
        }

        &:hover {
            cursor: pointer;
            > .hamburger {
                :nth-child(2) {
                    transform: translateX(30%);
                }
                div {
                    background-color: $tertiary;
                }
            }
        }

        &.buttonToggled {
            .hamburger {
                :nth-child(1) {
                    transform: translate(0.5rem, -0.1rem) rotate(45deg);
                }
                :nth-child(2) {
                    opacity: 0;
                    transform: translateX(-3rem);
                }
                :nth-child(3) {
                    transform: translate(0.5rem, 0.1rem) rotate(-45deg);
                }
            }
            &:hover {
                > .hamburger {
                    :nth-child(1) {
                        transform: translate(0.5rem, -0.1rem) rotate(45deg);
                    }
                    :nth-child(3) {
                        transform: translate(0.5rem, 0.1rem) rotate(-45deg);
                    }
                }
            }
        }
    }

    .menu {
        pointer-events: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        z-index: 997;
        .bg {
            position: relative;
            z-index: 998;
            width: 100%;
            height: 100vh;

            div {
                position: absolute;
                width: 100%;
                height: 100vh;
                background-color: darken($neutralDark, 3%);
                transition: transform 0.5s ease-in-out;
                clip-path: polygon(0 0, 100% 0, 100% 100%);
                top: 0;
                left: 0;
                transform: translateX(100%);
                &.mid {
                    clip-path: polygon(
                        0 0,
                        0.5% 0,
                        100% 99.5%,
                        100% 100%,
                        99.5% 100%,
                        0 0.5%
                    );
                    transform: 0;
                    background-color: darken($neutralDark, 3%);
                    opacity: 0;
                    z-index: 1;
                }
                &:last-child {
                    transform: translateX(-100%);
                    clip-path: polygon(0 0, 0 100%, 100% 100%);
                }
            }
        }
        .links {
            transition: opacity 0.3s, left 0.3s;
            position: fixed;
            display: flex;
            top: 0;
            opacity: 0;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            width: 100%;
            height: 100vh;
            z-index: 999;

            a {
                color: $neutralLight;
                font-size: 2rem;
                text-decoration: none;
                transition-property: transform;
                transition-duration: 0.6s;
                transition-delay: 0s;
                padding: 3.5rem;

                @for $i from 1 to 5 {
                    &:nth-child(#{$i}) {
                        @if $i <3 {
                            transform: translateX(100vw);
                        } @else {
                            transform: translateX(-100vw);
                        }
                    }
                }

                &::before {
                    position: fixed;
                    transform: translateX(-200%);
                    content: '{';
                    opacity: 0;
                    color: $secondary;
                    transition: opacity 0.2s, transform 0.2s;
                    pointer-events: none;
                }
                &::after {
                    position: fixed;
                    transform: translateX(100%);
                    content: '}';
                    opacity: 0;
                    color: $secondary;
                    transition: opacity 0.2s, transform 0.2s;
                    pointer-events: none;
                }

                &:hover {
                    &::before {
                        transform: translateX(-100%);
                        opacity: 1;
                    }
                    &::after {
                        transform: translateX(0);
                        opacity: 1;
                    }
                }
            }
        }

        &.menuToggled {
            pointer-events: all;
            opacity: 1;
            .bg {
                div {
                    transform: none;
                    &.mid {
                        opacity: 1;
                    }
                }
            }
            .links {
                opacity: 1;
                a {
                    transition-delay: 0.2s;
                    transform: none;
                }
            }
        }
    }
}
